<div class="pink">
  <div id="contact">
    <div id="contactez-nous">
      <h2 class="white top">Contactez-nous sans engagement</h2>
      <div id="contact-elements">
        <div id="contact-form">
         <p class="red"> Les champs marqués d’un * sont obligatoires </p>
          <%= simple_form_for(@contact_form) do |f| %>
            <%= f.input :first_name, required: true, label: "Prenom:" %>
            <%= f.input :last_name, required: true,  label: "Nom:" %>
            <%= f.input :email, required: true,  label: "Email:" %>
            <%= f.input :phone_number,  label: "Telephone:" %>
            <p class="white ital"><%= "Souhaitez-vous déposer une candidature spontanée ?" %></p>
            <div class="oui">
              <%= f.check_box :is_application %>
              <p class="white ital"> Oui </p>
            </div>
            <%= f.input :message, type: :text %>
            <div id="rgpd-checkbox">
              <p class="white">
                En soumettant ce formulaire, j’accepte que les informations saisies dans ce formulaire soient traitées pour permettre d'être
                contacté dans le cadre des services et activités de la société de sécurité Protection +.
              </p>
              <div class="oui">
                <%= f.check_box :rgpd %>
                <p class="white"> RGPD </p>
              </div>
            </div>
            <%= f.submit value="Envoyer" %>
          <% end %>
        </div>
        <div id="contact-text">
          <h3 class="red">Adresse</h3>
          <p class="white">
            Parc de la Roseraie Bat<br>
            A1 20 Traverse de<br>
            la Buzine13011 Marseille<br>
          </p>
          <h3 class="red">Numéros</h3>
          <p class="white">04.91.44.90.11</p>
          <p class="white">04.91.44.89.58</p>
          <h3 class="red">Infos légales</h3>
          <p class="white">
            SAS Protection +<br>
            SIRET : 501946412 00035<br>
            Président de la SAS : Volodymyr TCHEREDNITCHENKO<br>
            Sité Hébergé chez Nuxit France<br>
            Tout droit de reproduction soumis à autorisation expresse.<br>
          </p>
          <p class="white">
            Les données communiquées via ce formulaire ne seront pas transmises à des tiers. Elles sont collectées à des fins de gestion des services
            et activités de la société de sécurité Protection +.
          </p>
          <p class="white">
            Les données fournies seront conservées pour une durée maximale de 3 ans. Vous disposez d’un droit d’accès, de rectification, d’effacement,
            de limitation, de portabilité et d’opposition aux données personnelles vous concernant. Pour exercer ce droit, merci d’effectuer votre demande
            auprès de la société de sécurité Protection + (par mail ou par courrier).
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
  <div id="quote">
    <h2>Demandez un devis gratiut sans engagement</h2>
    <div id="quote-elements">
      <div id="quote-text">
        <h3>
          Protection +, la sécurité par excellence pour les prestations de sécurité et gardiennage, notamment:
        </h3>
        <p>
          Contrôles de sécurité<br>
          Surveillance statique<br>
          Surveillance mobile notamment pour
          bailleurs sociaux<br>
          Protection incendie et secours<br>
          Protection contre les actions de
          malveillance<br>
          Sécurité de vos évènements<br>
          Security Business<br>
        </p>
        <p>
          Les données communiquées via ce formulaire ne seront pas transmises à des tiers. Elles sont collectées à des fins de gestion des
          services et activités de la société de sécurité Protection +.
        </p>
        <p>
          Les données fournies seront conservées pour une durée maximale de 3 ans. Vous disposez d’un droit d’accès,
          de rectification, d’effacement, de limitation, de portabilité et d’opposition aux données personnelles vous concernant. Pour exercer ce droit,
          merci d’effectuer votre demande auprès de la société de sécurité Protection + (par mail ou par courrier).
        </p>
      </div>
      <div id="quote-form">
        <%= simple_form_for(@quote) do |f| %>
          <%= f.input :society_name, required: true %>
          <%= f.input :name, required: true, label: 'Nom et prénom' %>
          <%= f.input :email, required: true %>
          <%= f.select :prestation_type, collection: @prestations %>
          <%= f.input :work_description, type: :text %>
          <div id="rgpd-checkbox">
            <p>
              En soumettant ce formulaire, j’accepte que les informations saisies dans ce formulaire soient traitées pour permettre d'être
              contacté dans le cadre des services et activités de la société de sécurité Protection +.
            </p>
            <%= f.check_box :rgpd %>
          </div>
          <%= f.submit value="Envoyer" %>
        <% end %>
      </div>
    </div>
  </div>
