<div class="pink">
  <div id="contact">
    <div id="contactez-nous">
      <div id="contact-elements">
        <div id="contact-form">
        <h2 class="white top scale-up-phone">Contactez-nous sans engagement</h2>
         <p class="red"> Les champs marqués d’un * sont obligatoires </p>
          <%= simple_form_for @contact_form, remote: true do |f| %>
          <label for="contact_form_first_name", class="input"> Prenom:<span class="stars">*</span> </label>
            <%= f.input :first_name, required: true, label: false %>
            <label for="contact_for_last_name", class="input"> Nom:<span class="stars">*</span> </label>
            <%= f.input :last_name, required: true, label: false %>
            <label for="contact_form_email", class="input"> Email:<span class="stars">*</span> </label>
            <%= f.input :email, required: true,  label: false %>
            <label for="contact_form_phone_number", class="input"> Telephone:<span class="stars">*</span> </label>
            <%= f.input :phone_number,  label: false %>
            <p class="white ital"><%= "Souhaitez-vous déposer une candidature spontanée ?" %></p>
            <div class="oui">
              <%= f.input :is_application, as: :boolean, required: true, label: false %>
              <label for="contact_form_is_application">
              <p class="white ital"> Oui <span class="stars">*</span></p>
            </div>
            <label for="contact_form_message", class="input"> Message<span class="stars">*</span> </label>
            <%= f.input :message, type: :text, label: false %>
            <div id="rgpd-checkbox">
              <p class="white">
                En soumettant ce formulaire, j’accepte que les informations saisies dans ce formulaire soient traitées pour permettre d'être
                contacté dans le cadre des services et activités de la société de sécurité l'Azuréenne.
              </p>
              <div class="oui">
                <%= f.input :rgpd, as: :boolean, required: true, label: false %>
                 <label for="contact_form_rgpd">
                <p class="white pad"> RGPD<span class="stars">*</span> </p>
              </div>
            </div>
            <%= f.submit value="Envoyer", :class => "button" %>
            <div id="contact-submit-problem"></div>
          <% end %>
        </div>
        <div id="contact-text">
          <h3 class="red style add">Adresse</h3>
          <p class="white">
            Parc de la Roseraie Bat<br>
            A1 20 Traverse de<br>
            la Buzine13011 Marseille<br>
          </p>
          <h3 class="red style num">Numéros</h3>
          <div class="phones">
            <i class="fa fa-phone" aria-hidden="true"></i>
            <p class="white">04.91.44.90.11</p>
          </div>
          <div class="phones">
            <i class="fa fa-mobile" aria-hidden="true"></i>
            <p class="white">04.91.44.89.58</p>
          </div>
          <h3 class="red style inf">Infos légales</h3>
          <p class="white narrow">
            L'Azuréenne<br>
          <span class="weight"> SIRET </span> : 497 578 898 00049<br>
           <span class="weight"> Président de la SAS </span> : Attila SIMKO<br>
            Sité Hébergé chez Ionos<br>
            Tout droit de reproduction soumis à autorisation expresse.<br>
          </p>
          <p class="white narrow">
            Les données communiquées via ce formulaire ne seront pas transmises à des tiers. Elles sont collectées à des fins de gestion des services
            et activités de la société de sécurité l'Azuréenne.
          </p>
          <p class="white narrow">
            Les données fournies seront conservées pour une durée maximale de 3 ans. Vous disposez d’un droit d’accès, de rectification, d’effacement,
            de limitation, de portabilité et d’opposition aux données personnelles vous concernant. Pour exercer ce droit, merci d’effectuer votre demande
            auprès de la société de sécurité l'Azuréenne (par mail ou par courrier).
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
  <div id="quote">
    <div id="quote-elements">
      <div id="quote-text">
        <h3 class="red type">
          l'Azuréenne, la sécurité par excellence pour les prestations de sécurité et gardiennage, notamment:
        </h3>
        <p>
          Contrôles de sécurité<br>
          Surveillance statique<br>
          Surveillance mobile notamment pour
          bailleurs sociaux<br>
          Protection incendie et secours<br>
          Protection contre les actions de
          malveillance<br>
          Sécurité de vos évènements<br>
          Security Business<br>
        </p>
        <p>
          Les données communiquées via ce formulaire ne seront pas transmises à des tiers. Elles sont collectées à des fins de gestion des
          services et activités de la société de sécurité l'Azuréenne.
        </p>
        <p>
          Les données fournies seront conservées pour une durée maximale de 3 ans. Vous disposez d’un droit d’accès,
          de rectification, d’effacement, de limitation, de portabilité et d’opposition aux données personnelles vous concernant. Pour exercer ce droit,
          merci d’effectuer votre demande auprès de la société de sécurité l'Azuréenne (par mail ou par courrier).
        </p>
      </div>
      <div id="quote-form">
        <h2 class="title-two">Demandez un devis gratuit sans engagement</h2>
        <p class="red"> Les champs marqués d’un * sont obligatoires </p>
        <%= simple_form_for @quote, remote:true do |f| %>
          <%= f.input :society_name, required: true, label: "Nom de la société" %>
          <%= f.input :name, required: true, label: 'Nom et prénom' %>
          <%= f.input :email, required: true, label: "Email"%>
          <label for="quote_prestation_type"> Votre prestation est </label>
          <%= f.input :prestation_type, collection: @prestations, prompt: "Merci de sélectionner ici…", label: false %>
          <label for="quote_prestation_type"> Décrivez ici votre besoin </label>
          <%= f.input :work_description, type: :text, label: false %>
          <div id="rgpd-checkbox">
            <p>
                En soumettant ce formulaire, j’accepte que les informations saisies dans ce formulaire soient traitées pour permettre d'être
                contacté dans le cadre des services et activités de la société de sécurité l'Azuréenne.
              </p>
              <div class="oui">
                <%= f.input :rgpd, as: :boolean, required: true, label: false %>
                 <label for="contact_form_rgpd">
                <p class="pad"> RGPD<span class="stars">*</span> </p>
              </div>
          </div>
          <%= f.submit value="Envoyer", :class => "button"  %>
          <div id="quote-submit-problem"></div>
        <% end %>
      </div>
    </div>
  </div>
