<div id="expertise">
  <div class="expertise-line">
    <%= image_tag('diagnostic.png', id: 'diagnostic') %>
    <div class="expertise-line-text">
      <p>Avant chaque intervention, l’Azuréenne réalise un diagnostic.</p>
      <ul class="list">
        <li> <span class="col-li"> - </span> En identifiant les risques et en les hiérarchisant.</li>
        <li><span class="col-li"> - </span> En repérant les failles d’insécurité.</li>
        <li><span class="col-li"> - </span> En élaborant un plan d’action en accord aux législations et procédures du site ou de l’entreprise.</li>
        <li><span class="col-li"> - </span> En consolidant les facteurs qui contribuent à une meilleure prévention.</li>
      </ul>
    </div>
    <%= image_tag('expertise2.jpg', class: "pic-diagnostic") %>
  </div>

  <div class="expertise-line">
    <div class="expertise-line-text text-habilete">
      <p>
        Vous rencontrerez au sein de notre entreprise, des hommes dynamiques en excellente condition physique,
        ayant une grande capacité d’adaptation et une véritable vocation de la protection des biens et des personnes.
        Notre expérience due à de nombreuses interventions et opérations fait de PROTECTION + une société différente où
        notre professionnalisme et notre vécu nous distinguent par la qualité de nos prestations quelque soit la zone géographique.
      </p>
    </div>
    <%= image_tag('expertise3.jpg', class: "pic-habilete") %>
    <%= image_tag('habilete.png', id: 'habilete') %>
  </div>

  <div class="expertise-line tab">
    <%= image_tag('suivi-terrain.png', id: 'suivi-terrain') %>
    <div class="expertise-line-text text-suivi-terrain">
      <p>
        La souplesse et l’adaptabilité de la société l'Azuréenne ainsi que notre capacité de réaction,
        permettent de coller en permanence aux attentes de nos clients.
      </p>
      <p>
        Le suivi des actions mises en place est assuré par nos équipes. Cet encadrement est réalisé par de véritables
        professionnels de la Sécurité. Chaque chef de secteur dispose d’une solide expérience dans le domaine dont il a la responsabilité.
      </p>
      <p>
        Sérieux de notre engagement sur la plan de l’assurance qualité, tous nos agents possèdent l’agrément
        préfectoral ASP, SST, EPI, et certains SSIAP1, SSIAP2, SSIAP3 et HOBO (services relatifs aux normes et aux procédures).
      </p>
    </div>
    <%= image_tag('expertise6.jpg', class: "pic-suivi-terrain") %>
  </div>
</div>
