<div id="expertise">
  <% @activities.each do |activity| %>
      <% if !activity.images.find_by(page: "expertise").nil? %>
        <div class="activity">
          <div class="activity-images">
              <%= image_tag(activity.title.gsub(/\s+/, "").downcase + "2.jpg") %>
              <%= image_tag(activity.title.gsub(/\s+/, "").downcase + "3.jpg") %>        
          </div>
          <div class="activities-texts">
            <h2><%= activity.title %></h2>
            <h3><%= activity.subtitle %></h3>
            <p><%= activity.description %></p>
          </div>
        </div>
      <% end %> 
  <% end %>
</div>