<div class="home-contain">
  <div id="frame-one">
    <h2 class="tel-home">Notre savoir faire</h2>

    <div class="cards">
      <div class="savoir-faire-card">
        <div class="hover-one">
          <div class="hover-lay"></div>
          <%= image_tag('stormtrooper.jpg', alt: 'Azureenne securité - le rempart', class: 'savoir-faire-card-img') %>
          <div class="content-details">
            <p class="sfc"> l'Azuréenne de protection<p>
          </div>
        </div>
        <p class="savoir-faire-card-title">La société de sécurité l'Azuréenne de protection est le rempart actif de votre sécurité</p>
        <p class="savoir-faire-card-description">
          La compétence de nos agents, augmentée de la maîtrise de nos techniques font de la société de sécurité l'Azuréenne de protection
          votre partenaire indispensable et incontournable.
        </p>
      </div>
      <div class="savoir-faire-card">
        <div class="hover-one">
          <div class="hover-lay"></div>
          <%= image_tag('jumelles.jpg', alt: 'azureenne securité - les agents', class: 'savoir-faire-card-img') %>
          <div class="content-details">
            <p class="sfc"> Nos agents<p>
            <p class="sfc">de sécurité<p>
          </div>
        </div>
        <p class="savoir-faire-card-title">Des agents de sécurité dynamiques au service de la protection des biens et des personnes</p>
        <p class="savoir-faire-card-description new">
          Des agents de sécurité en excellente condition physique, ayant une grande capacité d’adaptation et une véritable
          vocation de la protection des biens et des personnes.
        </p>
      </div>
      <div class="savoir-faire-card">
        <div class="hover-one">
          <div class="hover-lay"></div>
          <%= image_tag('application.jpg', alt: "azureenne securité - l'application", class: 'savoir-faire-card-img') %>
          <div class="content-details">
            <p class="sfc"> Notre application <p>
          </div>
        </div>
        <p class="savoir-faire-card-title">Une application simple et performante</p>
        <p class="savoir-faire-card-description marg-tel plus">
          Enregistrer la prise de service de l’agent, sa géolocalisation jusqu’à l’enregistrement d’une main courante électronique :
          notre application sur-mesure simplifie notre service de sécurité.
        </p>
      </div>
    </div>
  </div>

  <div id="frame-two">
    <h2 class="tel-home">Une triple stratégie</h2>

    <div class="strategie">
      <div class="strategie-card">
        <div class="number">
          <p class="opacity"> 1</p>
          <span class="strat">diagnostic</span>
        </div>
      </div>
      <div class="strategie-card">
        <div class="number">
          <p class="opacity"> 2</p>
          <span class="strat">Professionalisme</span>
        </div>
      </div>
      <div class="strategie-card">
        <div class="number">
          <p class="opacity"> 3</p>
          <span class="strat">Suivi de terrain</span>
        </div>
      </div>
    </div>
  </div>
  <h2 class="tel-home start">Nos secteurs d'activités</h2>
  <div id="frame-three">
    <div class="secteurs flip-card">
      <% @activities.each_with_index do |activity, index| %>
        <div class="grid-<%= index %>   grid">
          <h3 class="vertical">
            <%= activity.title == "Bâtiment" ? activity.subtitle : activity.title %>
          </h3>
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <% if !activity.images.find_by(page: "home").nil? %>
                <%= image_tag(activity.title.gsub(/\s+/, "").downcase + "1.jpg") %>
              <% else %>
                <%= image_tag('https://via.placeholder.com/325x688') %>
              <% end %>
            </div>
            <div class="flip-card-back">
              <div class="flip-text">
              <h3 class="card-tit"><%= activity.title == "Bâtiment" ? simple_format(activity.subtitle) : simple_format(activity.title) %></h3>
              <p><%= simple_format(activity.description) %></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div id="frame-four" class="for-computer">
    <h2 class="parts phon">Nos partenaires</h2>
    <div>
      <ul class="partners-logos">
        <li><%= image_tag('partenaires/gtm.png', width:"85", height: "83") %></li>
        <li><%= image_tag('partenaires/mcdonalds.png', width:"80", height: "80") %></li>
        <li class="moove"><%= image_tag('partenaires/veolia.png', width:"168", height: "168") %></li>
        <li class="moove"><%= image_tag('partenaires/eurovia.png', width:"144.44", height: "81.25") %></li>
        <li class="moove"><%= image_tag('partenaires/eiffage.png', width:"193", height: "56") %></li>
        <li class="moove"><%= image_tag('partenaires/citya.png', width:"85", height: "85") %></li>
        <li class="moove"><%= image_tag('partenaires/foncia.png', width:"85", height: "85") %></li>
        <li class="moove"><%= image_tag('partenaires/radisson.png', width:"193", height: "56") %></li>
        <li class="moove"><%= image_tag('partenaires/villogia.png', width:"85", height: "85") %></li>
        <li class="moove"><%= image_tag('partenaires/aldi.png', width:"85", height: "85") %></li>
        <li class="moove"><%= image_tag('partenaires/burger-king.png', width:"85", height: "85") %></li>
      </ul>
    </div>
  </div>
  <div id="frame-four" class="for-tel">
    <h2 class="parts tel-home">Nos partenaires</h2>
    <div>
      <ul class="partners-logos">
        <li><%= image_tag('partenaires/gtm.png', width:"42.5", height: "41.5") %></li>
        <li><%= image_tag('partenaires/mcdonalds.png', width:"40", height: "40") %></li>
        <li><%= image_tag('partenaires/veolia.png', width:"84", height: "84") %></li>
        <li><%= image_tag('partenaires/eurovia.png', width:"72.22", height: "40.37") %></li>
        <li><%= image_tag('partenaires/eiffage.png', width:"96.5", height: "27") %></li>
        <li><%= image_tag('partenaires/citya.png', width:"85", height: "85") %></li>
        <li><%= image_tag('partenaires/foncia.png', width:"85", height: "85") %></li>
        <li><%= image_tag('partenaires/radisson.png', width:"96.5", height: "27") %></li>
        <li><%= image_tag('partenaires/villogia.png', width:"85", height: "85") %></li>
        <li><%= image_tag('partenaires/aldi.png', width:"85", height: "85") %></li>
        <li><%= image_tag('partenaires/burger-king.png', width:"85", height: "85") %></li>
      </ul>
    </div>
  </div>
</div>
