<div id="prestations">
  <div class="prestation">
    <%= image_tag('prestation-accueil.jpg', class: "view") %>
    <div class="prestation-texts text-align-left">
      <h2>Accueil filtrage Controle de sécurité</h2>
      <h3>L’AGENT DE SÉCURITÉ CONTRÔLE LE FILTRAGE, ASSURE L’ANALYSE DES INFORMATIONS DONNÉES PAR LES SOCIÉTÉS DE TÉLÉSURVEILLANCE.</h3>
      <p>
        L’agent de sécurité « contrôle filtrage » est un agent de sécurité dont l’action permet d’empêcher que des objets illicites
        soient introduits à l’intérieur d’une zone strictement définie.<br>
        De plus, il procède, le cas échéant, à la levée de doute suivant les procédures et consignes établies, dans le respect des libertés publiques.
      </p>
    </div>
  </div>
  <div class="prestation align-right">
    <%= image_tag('prestation-surveillance-statique.jpg') %>
    <div class="prestation-texts text-align-right">
      <h2>Surveillance statique</h2>
      <p>
        Le service de gardiennage statique est sollicité pour sécuriser des événements, les parkings des copropriétés pour les
        bailleurs sociaux ou syndics ou encore pour l’accueil de sociétés.<br>
        Cette option de gardiennage peut être modulée selon la mission attribuée à l’agent de sécurité.
      </p>
    </div>
  </div>
  <div class="prestation">
    <div class="pics-prestation">
      <%= image_tag('prestation-surveillance-bailleur-1.jpg', class: "baille-one") %>
      <%= image_tag('prestation-surveillance-bailleur-2.jpg', class: "baille-two") %>
      <div class="line-prestation"></div>
    </div>
    <div class="prestation-texts text-align-left">
      <h2 class="baille-three">
        Surveillance Bailleurs sociaux
      </h2>
      <p>
        Cœur de notre métier : Surveillance mobile pour Bailleurs sociaux, syndics de copropriété, résidence.
        Nous sommes à l’origine de la création d’un service « Dispositif De Nuit » qui assure la sécurité chez de nombreux
        bailleurs sociaux et syndics pour les copropriétés, résidences… <br>
        Ce concept de dispositif de nuit est concrétisé par la mise en place de patrouilles sur un patrimoine déterminé au sein des copropriétés,
        résidences pour les syndics et bailleurs sociaux. Il permet de répondre aux appels des locataires par l’intermédiaire d’une plateforme
        téléphonique. Ce dispositif de surveillance performant est également soutenue par notre application sur smartphone Protection +.
        Cette application permet d’enregistrer l’heure d’arrivée et de départ des patrouilles de sécurité mobiles, leur géolocalisation
        ainsi que le dépôt des mains courantes par voie électronique…
      </p>
    </div>
  </div>
  <div class="prestation">
    <%= image_tag('prestation-securite-business.jpg') %>
    <div class="prestation-texts text-align-left">
      <h2>Sécurité business</h2>
      <p>
        Nous pouvons procéder à un audit d’intelligence économique grâce à nos spécialistes en la matière<br>
        Notre entreprise offre des solutions et nos conseillers seront vous aider à choisir le système de gardiennage répondant à vos besoins.
      </p>
    </div>
  </div>
  <div class="prestation align-right">
    <%= image_tag('prestation-protection.jpg') %>
    <div class="prestation-texts text-align-right">
      <h2>Protection incendie et secours</h2>
      <p>
        Les agents ont pour mission d’assurer la prévention et la protection contre les incendies
        (sensibilisation, rondes de vérification, intervention), l’assistance aux personnes en cas d’accident ou de malaise,
        ainsi que l’appel aux services d’urgences (Pompiers, …).<br>
        L’agent de sécurité incendie (SSIAP 1) est un acteur clé de la sécurité dans les établissements.
        Il exerce principalement dans les établissements recevant du public, les immeubles de grande hauteur qui doivent respecter
        des réglementations en matière de sécurité incendie très contraignantes.
      </p>
    </div>
  </div>
  <div class="prestation">
    <div class="pics-prestation-two">
      <%= image_tag('prestation-intervention-1.jpg', class: "baille-one") %>
      <%= image_tag('prestation-intervention-2.jpg', class: "baille-two") %>
      <div class="line-prestation"></div>
    </div>
    <div class="prestation-texts text-align-left">
      <h2 class="baille-three">Intervention malveillante</h2>
      <h3>LES AGENTS DE SÉCURITÉ EFFECTUENT DES MISSIONS DE CONTRÔLE, DE RONDE DE SURVEILLANCE.</h3>
      <p class="some-marge">
        Ces missions ont pour objectif : La prévention des risques de malveillance et d’incendie, de dégradations ou de vols de biens.
        Les interventions peuvent s’effectuer sur différents sites tels que : parkings, entrepôts, magasins, habitations,
        chantiers en cours de construction, matériels, habitations, collectivités locales, … de façon ponctuelle ou permanente.<br>
        Pour mener à bien leur tâche, nos agents disposent d’une application sur leur téléphone portable reliée en permanence avec
        le PC sécurité 24h/24, y compris une géolocalisation pour leur sécurité. C’est une application de communication et de
        protection qui est un atout performant.
      </p>
    </div>
  </div>
  <div class="prestation align-right last">
  <%= image_tag('prestation-securite-evenementielle.jpg') %>
    <div class="prestation-texts text-align-right">
      <h2>Sécurité événementielle</h2>
      <p>La sécurité événementielle est une stratégie de sécurisation qui permet de protéger tous vos grands événements.<p>
      <p>
        Afin, d’aboutir au succès de ces diverses manifestations, nos agents sont formés et qualifiés pour répondre à vos besoins.
        Ils doivent s’adapter aux situations les plus diverses dans un cadre légal très strict.<br>
        Votre manifestation est souvent unique. Pour qu’elle se déroule dans des conditions de sécurités optimales,
        nos agents spécialisés et qualifiés vous montreront leur professionnalisme dans leurs domaines respectifs.
      </p>
    </div>
  </div>
</div>
