<div id="secteurs">
  <% img_nb = 1 %>
  <% @activities.each do |activity| %>
    <% if !activity.images.find_by(page: "expertise").nil? %>
        <div class="activity">
          <div class="activity-images">
            <%= image_tag(activity.images[1].file_name, class:"image-#{img_nb}")  %>
            <div class= "line line-<%= img_nb %>">
            
            </div>
            <% img_nb += 1 %>   
            <%= image_tag(activity.images[2].file_name, class:"image-two")  %>
          </div>
          <div class="activities-texts">
            <h2><%= activity.title == "Bâtiment" ? activity.subtitle : activity.title %></h2>
            <h3><%= activity.subtitle if activity.title != "Bâtiment" %></h3>
            <p><%= activity.description %></p>
          </div>
        </div>
      <% end %> 
  <% end %>
</div>